<p id="notice"><%= notice %></p>

<h1>Notifications</h1>
<br>

<table class="table">
	<thead>
		<tr>
			<th scope="col">Title</th>
			<th scope="col">Date</th>
			<th colspan="3"></th>
		</tr>
	</thead>

	<tbody>
		<% @notifications.each do |notification| %>
			<tr>
				<td><%= notification.title %></td>
				<td><%= create_timeago(notification.updated_at) %></td>
				<td><%= link_to 'Open', notification %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<br>
