<form>
	<div class="field">
		<label for="cwidth">Canvas width:</label><br>
		<input type="text" id="cwidth" name="cwidth">
	</div>
	<div class="field">
		<label for="cheight">Canvas height:</label><br>
		<input type="text" id="cheight" name="cheight">
	</div>
	<div class="field">
		<label for="bradius">Ball radius:</label><br>
		<input type="text" id="bradius" name="bradius">
	</div>
	<div class="field">
		<label for="max_points">Max points:</label><br>
		<input type="text" id="max_points" name="max_points">
	</div>
</form>
<button id="game_invite">Invite to play</button>
