<h3>Your friends</h3>

<table style="width: 100%; text-align: center;">
	<tr>
		<th>Nickname</th>
		<th>Profile image</th>
		<th></th>
	</tr>
	<% @profiles.each do |profile| %>
		<tr>
			<td><%= profile.nickname %></td>
			<td><img src="<%= url_for(profile.profile_pic) if profile.profile_pic.attached? %>" style="max-height: 100px; max-width: 100px;"></td>
			<td><%= link_to "View", profile_path(profile) %></td>
		</tr>
	<% end %>
</table>
