<h3>Users</h3>

<table style="width: 100%; text-align: center;">
	<tr>
		<th>Nickname</th>
		<th>Profile image</th>
		<th>Status</th>
		<th></th>
	</tr>
	<% @profiles.each do |profile| %>
		<tr>
			<td><%= create_user_link(profile) %></td>
			<td><img src="<%= url_for(profile.profile_pic) if profile.profile_pic.attached? %>" style="max-height: 100px; max-width: 100px;"></td>
			<td>
				<% if profile.state == "online" and Game.where("status = ? AND (player1_id = ? OR player2_id = ?)", "running", profile, profile).empty? == false %>
					In a game
				<% else %>
					<%= profile.state %></td>
				<% end %>
			</td>
		</tr>
	<% end %>
</table>
