<p id="notice"><%= notice %></p>

<h1>User Friends</h1>

<table>
  <thead>
    <tr>
      <th>Nickname</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profile_friends.each do |profile_friend| %>
      <tr>
        <td><%= profile_friend.nickname %></td>
        <td><%= link_to 'Destroy', profile_friend_path(@profile, profile_friend), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Friend', new_profile_friend_path %>
