<%= form_with(url: guild_owners_path) do |form| %>
	<div class="field">
		<%= form.label :owner_id %>
		<%= form.collection_select :owner_id, @guild_officers, :id, :nickname %>
	</div>

	<div class="actions">
		<%= form.submit %>
	</div>
<% end %>
