<div class="card">
	<div class="card-header">
		Commands
	</div>
	<div class="card-body">
		<p class="card-text">
			Press space to be ready.<br>
			When you have the ball, press space to launch it.<br>
			Press W to go up, S to go down.<br>
		</p>
	</div>
</div>