<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Game options</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
			<div class="field">
				<label for="cwidth">Canvas width:</label><br>
				<input type="number" id="cwidth" name="cwidth" min=200 max=3000 step=1>
			</div>
			<div class="field">
				<label for="cheight">Canvas height:</label><br>
				<input type="number" id="cheight" name="cheight" min=200 max=3000 step=1>
			</div>
			<div class="field">
				<label for="bradius">Ball radius (must be inferior to (canvas side / 2)):</label><br>
				<input type="number" id="bradius" name="bradius" min=1 step=1>
			</div>
			<div class="field">
				<label for="max_points">Max points:</label><br>
				<input type="number" id="max_points" name="max_points" min=1 max=20 step=1>
			</div>
	        <button type="button" class="btn btn-secondary" id="default">Default</button>
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="game_invite">Save changes</button>
      </div>
    </div>
  </div>
</div>
