<div class="show_rules">
	<p> canvas: <div id="canvas_width"></div>x<div id="canvas_height"></div></p>
	<p> paddles player 0: <div class="paddle_width"></div>x<div class="paddle_height"></div> - <div id="paddle_velocity"></div> velocity</p>
	<p> paddles player 1: <div class="paddle_width"></div>x<div class="paddle_height"></div> - <div id="paddle_velocity"></div> velocity</p>
	<p> ball: <div id="ball_radius"></div> radius - <div id="ball_speed"></div> speed</p>
	<p> max_points: <div id="max_points"></div></p>
</div>