<div class="posts-list">TRUC</div>

<script type="text/template" class="post-line-template">
	<p class="title"><%%= title %></p>
	<p class="content"><%%= content %></p>
</script>

<script>
	var postsView = new window.app.views.Posts();
</script>
