<table class="table table-sm">
 	<thead>
	    <tr>
	    	<th scope="col">Player</th>
	    	<th scope="col">Points</th>
	    </tr>
	</thead>

	<tbody>
		<% @players.sort.reverse_each do |points, players| %>
			<% players.sort_by(&:nickname).each do |player| %>
				<tr>
					<td><%= create_user_link(player, false) %></td>
					<td><%= points %></td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>

