
<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "<button type=\"button\" class =\"btn btn-primary btn-block\"> Sign in with #{OmniAuth::Utils.camelize(provider)} </button>".html_safe, omniauth_authorize_path(resource_name, provider), class: 'text-white'%>
  <% end %>
<% end %>
