<p id="notice"><%= notice %></p>

<h1>User Friends</h1>

<table>
  <thead>
    <tr>
      <th>Nickname</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_friends.each do |user_friend| %>
      <tr>
        <td><%= user_friend.nickname %></td>
        <td><%= link_to 'Destroy', user_friend_path(@user, user_friend), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Friend', new_user_friend_path %>
